@import "variables/global";
@import "reset";
@import "themes/normal";
@import "themes/dark";
@import "themes/additional";

.app {
  font-size: var(--font-m);
  background: var(--bg-color);
  color: var(--primary-color);
  min-height: 100vh;
}

.content-page {
  display: flex;
}
