.app_add_theme {
  --bg-color: #fbf4f9;
  --inverted-bg-color: #ff23c5;
  --primary-color: #ff23c5;
  --secondary-color: #ab00fa;
  --inverted-primary-color: #ab00fa;
  --inverted-secondary-color: #fbf4f9;

  // skeleton
  --skeleton-color: #f7c8a9;
  --skeleton-shadow: #f6ffc2;
  --code-bg: rgb(210 217 221);
}
