.app_add_theme {
  --bg-color: #fbf4f9;
  --inverted-bg-color: #ff23c5;
  --primary-color: #ff23c5;
  --secondary-color: #ab00fa;
  --inverted-primary-color: #ab00fa;
  --inverted-secondary-color: #fbf4f9;

  // redesigned
  --dark-bg-redesigned: #fff3d6;
  --bg-redesigned: #f0c048;
  --light-bg-redesigned: #f2d791;
  --text-redesigned: #1b1311;
  --hint-redesigned: #b8b2a2;
  --cancel-redesigned: #ff5e5e;
  --save-redesigned: #52fa81;
  --icon-redesigned: #4875f0;
  --accent-redesigned: #1d59ff;

  // skeleton
  --skeleton-color: #f7c8a9;
  --skeleton-shadow: #f6ffc2;

  // code
  --code-bg: rgb(210 217 221);

  // card
  --card-bg: #f1bfc6;

  // listbox
  --listbox-bg: #f1bfc6;
}
