.app_add_theme {
  --bg-color: #fbf4f9;
  --inverted-bg-color: #ff23c5;
  --primary-color: #ff23c5;
  --secondary-color: #ab00fa;
  --inverted-primary-color: #ab00fa;
  --inverted-secondary-color: #fbf4f9;
}
