.app.light {
  --bg-color: rgb(134, 219, 215);
  --inverted-bg-color: rgb(2, 2, 27);

  --primary-color: rgb(1, 14, 49);
  --secondary-color: rgb(17, 9, 48);
  --inverted-primary-color: rgb(205, 215, 243);
  --inverted-secondary-color: rgb(184, 185, 185);
}
